@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uv9qq9');
  src:  url('../fonts/icomoon.eot?uv9qq9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uv9qq9') format('truetype'),
    url('../fonts/icomoon.woff?uv9qq9') format('woff'),
    url('../fonts/icomoon.svg?uv9qq9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
  content: "\f041";
}
.icon-plane:before {
  content: "\f072";
}
.icon-phone:before {
  content: "\f095";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-object-group:before {
  content: "\f247";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-address-book-o:before {
  content: "\f2ba";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-clock:before {
  content: "\e94e";
}
