.contacts {
  background-color: $text-color;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  overflow: hidden;
}

.contacts__map {
  background-image: url(../images/world-map-dots.png);
  max-width: 900px;
  left: 20px;
  min-height: 635px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: -10px 0 auto;
  position: relative;
}

.contacts__map-item {
  padding: 15px;
  position: absolute;
  transition: all 0.5s;
  &:hover {
    transform: translateY(-10px);
    .contacts__map-marker {
      background-color: $red;

      &::after {
        display: block;
        border-top: 20px solid $red;
      }
    }
    .contacts__map-content {
      display: block;
    }
  }
}

.contacts__map-item--1 {
  top: 43%;
  left: 22%;
}

.contacts__map-item--2 {
  top: 37%;
  left: 47%;
}

.contacts__map-item--3 {
  top: 32%;
  right: 42%;
}

.contacts__map-item--4 {
  top: 35%;
  right: 35%;
}

.contacts__map-item--5 {
  top: 40%;
  right: 25%;
}

.contacts__map-marker {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  &::after {
    display: none;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 20px solid #fff;
    bottom: -7px;
    transform: translateX(-50%);
    left: 50%;
  }
}

.contacts__map-content {
  display: none;
  position: absolute;
  bottom: 68px;
  left: -231%;
  width: 285px;
  padding: 28px 31px;
  background: rgba(15, 16, 16, 0.8);
  border-radius: 6px;
  a {
    color: rgb(196, 189, 189);
    margin-top: 8px;
  }
  address {
    color: rgb(196, 189, 189);
    font-style: normal;
  }
}

.contacts__map-content-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: $red;
    width: 80px;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

.contact-form {
  color: $text-color;
  background-color: #fff;
  padding: 40px 50px 38px;
  width: 570px;
  position: absolute;
  right: 5%;
  top: 25%;
}

.contact-form__title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin: 0 0 10px;
}

.contact-form__text {
  color: #828282;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__item,
.form__btn {
  margin-top: 20px;
}

.form__item {
  padding: 0 20px;
  border: 1px solid #ededed;
  color: #7c7e84;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  &:focus {
    outline-color: #7c7e84;
  }
}

.form__name,
.form__phone {
  height: 60px;
}

.form__message {
  padding-top: 20px;
}

.form__btn {
  border: none;
  border-radius: 5px;
}

@media (max-width: 1380px) {
  .contacts {
    .container {
      padding: 0px 30px;
    }
  }
  .contact-form {
    width: 538px;
  }

  .contacts__map {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    min-height: auto;
  }

  .contacts__map-content {
    display: block;
    position: static;
    width: 100%;
    height: 100%;
  }
  .contacts__map-marker {
    display: none;
    animation: none;
  }
  .contacts__map-item {
    position: static;
    width: 30%;
    margin: 30px 10px 20px;
    padding: 0;
  }
  .contact-form {
    animation: none;
    position: static;
    width: 70%;
    margin: 30px auto 0px;
    padding: 33px 47px 35px;
  }
  .contact-form__title {
    font-size: 22px;
    line-height: 24px;
    margin: -4px 0 10px;
  }

  .contact-form__text {
    font-size: 15px;
    line-height: 16px;
    padding-bottom: none;
  }

  .contacts__inner {
    display: flex;
    flex-direction: column;
  }
  .contacts__map-content a {
    margin-top: 3px;
  }

  .form__btn,
  .form__item {
    margin-top: 10px;
  }
  .form__email,
  .form__name {
    height: 46px;
  }
}

@media (max-width: 965px) {
  .contacts {
    .main__subtitle {
      font-size: 30px;
      line-height: 34px;
    }
  }
  .contacts__map {
    margin-top: 10px;
  }
  .contacts__map-item {
    margin: 30px 5px 20px;
  }

  .contacts__map-content {
    padding: 20px 25px 15px;
  }

  .contacts__map-content address {
    font-size: 14px;
    line-height: 21px;
  }
  .contacts__map-content a {
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
  }
}

@media (max-width: 670px) {
  .contacts .main__subtitle {
    font-size: 25px;
    line-height: 31px;
  }
  .contacts__map-item {
    margin: 19px 5px 0px;
    width: 90%;
  }
  .contact-form {
    width: 96%;
  }
}

@media (max-width: 380px) {
  .contacts {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contacts .main__subtitle {
    font-size: 22px;
    line-height: 29px;
  }
  .contacts__map-item {
    margin: 19px 0px 0px;
    width: 95%;
  }
  .contacts__map {
    justify-content: center;
    left: 0;
    margin: 0px;
  }

  .contact-form {
    padding: 31px 20px 31px;
  }
  .contact-form__title {
    font-size: 21px;
    line-height: 23px;
  }
  .contact-form__text {
    font-size: 14px;
  }
  .form__item {
    font-size: 14px;
  }
}
