.price {
    background-image: url(../images/price-bg.jpg);
    padding: 150px 0;
  }
  
  .price__inner {
    display: flex;
    margin-right: -20px;
    margin-left: -20px;
  }
  
  .price__calc,
  .price__question {
    flex: 0 0 50%;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .price__title {
    margin-bottom: 20px;
  }
  
  .price__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .price__item {
    margin-bottom: 10px;
    flex-basis: 49%;
    padding-left: 18px;
    height: 47px;
    border: 1px solid #ededed;
    border-radius: 5px;
    color: #7c7e84;
    box-shadow: 0 0 20px rgba(61, 55, 55, 0.4);
    font-size: 15px;
    &:focus {
      outline: none;
      box-shadow: 0 0 20px rgba(61, 55, 55, 1);
    }
  }
  
  .price__total {
    margin-right: auto;
    margin-top: 10px;
    font-size: 24px;
    position: relative;
    &::after {
      content: "";
      width: 200px;
      height: 2px;
      background-color: $red;
      position: absolute;
      bottom: -5px;
      left: 0;
      animation: lineUnHover 2s;
    }
    &:hover {
      &::after {
        animation: lineHover 2s;
      }
    }
  }
  
  .price__mini {
    margin-top: 17px;
    font-size: 14px;
    color: #8c8e94;
    line-height: 20px;
  }
  
  @keyframes lineHover {
    to {
      width: 0px;
    }
  }
  
  @keyframes lineUnHover {
    from {
      width: 0px;
    }
    to {
      width: 200px;
    }
  }
  
  .price__question-block {
    top: 20%;
    left: 10%;
    position: relative;
    background-color: $red;
    padding: 30px 25px 30px 110px;
    width: 85%;
    --animate-duration: 15s;
    &::after {
      content: "";
      position: absolute;
      left: 20px;
      bottom: -27px;
      border: 20px solid transparent;
      border-left: 20px solid $red;
      border-top: 20px solid $red;
    }
  }
  
  .price__question-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px;
    text-decoration: underline;
  }
  
  .price__question-text,
  .price__question-phone {
    color: #ffffff;
    line-height: 22px;
    font-size: 14px;
  }
  
  .icon-paste::before {
    position: absolute;
    left: 6%;
    top: 49%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 45px;
  }
  