.work-step {
  text-align: center;
  background: linear-gradient(
      180deg,
      rgba(73, 72, 72, 0.4) 0,
      rgba(40, 41, 39, 0.6) 80%,
      rgba(73, 72, 72, 0.4) 100%
    ),
    url(../images/work-step-bg.jpg);
  background-attachment: fixed;
  padding: 100px 0px;
}

.work-step__title {
  color: #fff;
  margin-bottom: 100px;
  .main__title {
    display: inline-block;
    &::after {
      right: -35px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      height: 2px;
      width: 30px;
      position: absolute;
      background-color: #e9212e;
    }
  }
}

.work-step__inner {
  display: flex;
  justify-content: space-around;
}

.work-step__item {
  border-top: 3px solid $red;
  flex: 0 0 30%;
  box-shadow: 0px 6px 10px 3px #585555;
  position: relative;
  background-color: #fff;
  padding: 82px 30px 50px;
  transition: all 0.5s;
  font-family: Raleway, sans-serif;
  &:hover {
    transform: scale(1.05);
    .work-step__item-icon::before {
      color: $red;
    }
    .work-step__item-number::before {
      transform: perspective(1200px) rotateY(0deg) translateZ(0px);
      transition-delay: 0.1s;
      opacity: 1;
    }
    .work-step__item-number span {
      color: #ffffff;
      transition: all 700ms ease 500ms;
    }
  }
}

.work-step__item-number {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  bottom: 0;
  width: 90px;
  height: 90px;
  display: block;
  border: 3px solid $red;
  padding: 27px 0;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  z-index: 3;
  &::before {
    border: 3px solid $red;
    position: absolute;
    top: -1.5px;
    left: -1.5px;
    bottom: -1.5px;
    right: -1.5px;
    content: "";
    background: $red;
    border-radius: 50%;
    transition: all 0.5s ease-in-out 0s;
    transform-style: preserve-3d;
    transform: perspective(1200px) rotateY(-90deg) translateZ(0px);
    opacity: 0;
    z-index: -1;
  }
  span {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    transition: all 700ms ease 100ms;
  }
}

.work-step__item-title {
  font-size: 19px;
  line-height: 26px;
  margin-bottom: 18px;
  font-weight: 700;
}

.work-step__item-text {
  font-family: Rubik, sans-serif;
  color: #828282;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 22px;
}

.work-step__item-icon::before {
  transition: all 700ms ease 500ms;
  color: #bababa;
  font-size: 80px;
  line-height: 80px;
}
